@import '../../styles/mixins/transitions';
@import '../../styles/functions/ms';
@import '../../styles/variables/colors';

.levelBar {
  display: block;
  height: ms(5);
  margin: ms(0) 0;
  position: relative;

  &:hover {
    .levelBlock {
      background-color: $ups-blue; // highlight all blocks within skill

      &:hover {
        &.currentLevel {
          .levelBlockInput {
            opacity: 1; // if hovering the current level, highlight it in light blue (to show that clicking will toggle it to light blue)
          }
        }

        ~ .levelBlock {
          background-color: unset; // remove highlight from blocks to the right of the currently hovered one

          &.achieved {
            background-color: $gray-50; // if clicking on the block will decrease the level, gray out blocks that will lose their highlight

            .altColor {
              opacity: 0; // also remove light blue color from any blocks that might have it
            }
          }
        }
      }
    }
  }
}

.levelBlock {
  @include transition($duration: 75ms);

  display: inline-block;
  height: 100%;
  width: 25%;

  &.achieved {
    background-color: $ups-blue;
  }
}

.notApplicable {
  + .skillName {
    color: $gray-40;
  }

  .levelBlock {
    background: none;
  }
}

.levelBlockLabel {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.levelBlockInput {
  @include transition($duration: 75ms);
  appearance: none;
  background-color: $light-blue;
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  width: 100%;

  &:focus {
    outline: none;
  }

  .achieved & {
    &.altColor {
      opacity: 1; // show light blue highlight
    }
  }
}

.skillName {
  color: white;
  display: inline-block;
  font-size: ms(-1);
  font-weight: 400;
  left: ms(0);
  margin: 0;
  pointer-events: none;
  position: absolute;
  top: ms(-6) + ms(-1);
}
