@import '../../styles/functions/ms';
@import '../../styles/variables/colors';

.detail {
  flex: 3;
  font-family: 'Dia';
  padding: ms(2) ms(3) ms(3) ms(3);
}

.header {
  font-family: 'Dia-Black';
  font-size: ms(0);
  letter-spacing: ms(-9);
  text-align: center;
  text-transform: uppercase;
}

.chart {
  border-bottom: 1px solid $gray-30;
  border-top: 1px solid $gray-30;
  padding: ms(-3) 0;
  position: relative;
  width: 100%;
}

.dividers {
  display: flex;
  height: 100%;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.divider {
  background: $gray-30;
  flex: none;
  height: 100%;
  width: 1px;
}

.skills {
  position: relative;
}

.skill {
  position: relative;
}

.skillName {
  font-size: ms(-1);
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 ms(0);
}

.skillName {
  color: white;
  position: absolute;
  top: ms(2);
}

.levelBar {
  display: block;
  height: ms(5);
  padding: ms(-3) 0;
}

.levelBlock {
  background-color: $ultramarine;
  display: inline-block;
  height: 100%;
  text-align: right;
  width: 25%;
}

.notApplicable {
  + .skillName {
    color: $gray-40;
  }

  .levelBlock {
    background: none;
  }
}

.labels {
  display: flex;
  font-weight: 700;
  justify-content: space-around;
  margin-top: ms(-1);
  width: 100%;
}
