@import '../../styles/mixins/label-text';
@import '../../styles/mixins/transitions';
@import '../../styles/mixins/button-reset';
@import '../../styles/mixins/ul-reset';
@import '../../styles/functions/ms';
@import '../../styles/variables/colors';

@mixin inherit-type-styles {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

$option-padding: ms(-5);
$option-button-height: calc(#{ms(0)} + (2 * #{$option-padding} * #{$ms-ratio}));

.outerWrapper,
.innerWrapper,
.selectButton,
.customOptionWrapper,
.customOptionList {
  @include inherit-type-styles;
}

.innerWrapper {
  height: $option-button-height;
  position: relative;
}

.label {
  @include label-text;
  display: block;
  margin-bottom: ms(-4);
  pointer-events: none;
}

.selectButton {
  @include button-reset;
  background-color: $gray-60;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  height: $option-button-height;
  padding: $option-padding ($option-padding * $ms-ratio);
  position: relative;
  text-align: right;
  width: 100%;
  z-index: 2;

  &:hover,
  &:focus {
    color: $light-blue;
    outline: 0;
  }
}

.OSoption {
  display: none;
}

.customOptionList {
  @include transition(
    $property: (
      box-shadow,
      height,
      opacity,
      padding-top,
    ),
    $duration: 150ms
  );
  @include ul-reset;
  background-color: $gray-60;
  border-radius: 2px;
  display: flex;
  flex-flow: column;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition-delay: 0.1s;
  width: 100%;
  z-index: 1;

  .isOpen & {
    opacity: 1;
    padding-top: $option-button-height;
    pointer-events: all;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
  }
}

.customOptionWrapper {
  @include transition($property: top, $duration: 150ms);
  height: $option-button-height;
  width: 100%;
}

.customOptionButton {
  @include button-reset;
  color: white;
  font-size: ms(-1);
  font-weight: 400;
  font-family: 'Dia';
  height: 100%;
  padding: $option-padding;
  text-align: left;
  width: 100%;
}

.customOptionButton,
.select {
  @include transition;

  &:hover {
    background-color: $ups-blue;
    color: white;
  }
}

:export {
  varOptionHeight: $option-button-height;
}
