@font-face {
  font-family: 'Dia';
  src: url('/fonts/dia/Dia-Regular.eot'), url('/fonts/dia/Dia-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Dia';
  src: url('/fonts/dia/Dia-Bold.eot'), url('/fonts/dia/Dia-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Dia';
  src: url('/fonts/dia/Dia-Black.eot'), url('/fonts/dia/Dia-Black.woff') format('woff');
}

@font-face {
  font-family: 'Dia';
  src: url('/fonts/dia/Dia-Light.eot'), url('/fonts/dia/Dia-Light.woff') format('woff');
}
